.haley {
  font-family:monospace;
  color: purple;
  font-size: 16px;
}
.haley h4 {
  font-style:italic;
}

.page-header{
  color: purple;
}


.image{
  border:2px solid white;
  padding: 1px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.projects {
  font-size: 18px;
}
.life {
  font-family: sans-serif;
  color: blue;
}
.nav{
  float: right;
  width: 200px
  border: 3px solid white;
}
